<!DOCTYPE html>
<html lang="pt-BR">
  <th:block th:replace="fragments/head :: head('Sobre | Partiu!')"></th:block>

  <body>
    <th:block th:replace="fragments/header :: header"></th:block>

    <main class="py-12">
      <div class="container max-w-2xl mx-auto space-y-3">
        <h1 class="text-2xl font-semibold">Sobre o Partiu!</h1>

        <p>
          O Partiu! é uma plataforma dedicada a conectar pessoas a eventos
          incríveis na sua cidade. Nossa missão é facilitar a descoberta e
          participação em atividades culturais, esportivas, educacionais e de
          entretenimento, tornando a vida urbana mais vibrante e acessível.
        </p>

        <p>
          Fundada com o objetivo de promover a comunidade local, oferecemos uma
          experiência intuitiva para organizadores publicarem seus eventos e
          para usuários encontrarem opções que combinem com seus interesses.
          Seja um concerto, uma palestra, um workshop ou um jogo, o Partiu! está
          aqui para garantir que você nunca perca uma oportunidade de se
          divertir ou aprender.
        </p>

        <p>
          Acreditamos que eventos são mais do que datas no calendário; são
          momentos que criam memórias e fortalecem laços. Junte-se a nós e faça
          parte dessa jornada!
        </p>
      </div>
    </main>

    <th:block th:replace="fragments/footer :: footer"></th:block>
  </body>
</html>
