<head th:fragment="head(title)">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title th:text="${title}">Partiu!</title>

  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

  <style type="text/tailwindcss">
    @layer base {
      *,
      ::after,
      ::before,
      ::backdrop,
      ::file-selector-button {
        border-color: var(--color-neutral-200, currentColor);
      }

      body {
        @apply text-neutral-700;
      }
    }

    @utility container {
      @apply mx-auto px-4;
    }
  </style>

  <link rel="stylesheet" th:href="@{/css/slider.css}" />
  <script th:src="@{/scripts/slider.js}"></script>
  <script th:src="@{/scripts/copy-link.js}"></script>
</head>
