<header th:fragment="header" class="border-b py-2">
  <nav class="container flex justify-between items-center gap-8">
    <a th:href="@{/}" class="font-semibold">Partiu!</a>

    <div class="flex-1 flex items-center gap-1.5">
      <form
        th:action="@{/eventos/buscar}"
        method="GET"
        class="flex-1 max-w-80 h-9 rounded-md border flex overflow-hidden gap-2 focus-within:ring-2 focus-within:ring-blue-600"
      >
        <input
          name="query"
          class="w-full h-full px-3.5 text-sm placeholder:text-sm focus:outline-none"
          type="text"
          placeholder="Buscar eventos, locais, cidades..."
          th:value="${param.query}"
        />

        <input type="hidden" name="categoria" th:value="${param.categoria}" />
        <input type="hidden" name="localId" th:value="${param.localId}" />
        <input type="hidden" name="dataInicio" th:value="${param.dataInicio}" />
        <input type="hidden" name="size" th:value="${param.size}" />

        <button
          type="submit"
          class="w-9 h-full shrink-0 flex items-center justify-center text-neutral-400 mr-1"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
            />
          </svg>
        </button>
      </form>

      <div class="relative group/categorias">
        <button
          class="h-9 px-3 text-sm rounded-md border bg-white focus:outline-none focus:ring-2 focus:ring-blue-600 flex items-center gap-2 min-w-32 justify-between hover:bg-gray-50"
        >
          <span
            th:text="${categoriaSelecionada != null ? categoriaSelecionada : 'Categorias'}"
          >
            Categorias
          </span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="size-4 transition-transform text-gray-400 group-focus-within/categorias:rotate-180"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m19.5 8.25-7.5 7.5-7.5-7.5"
            />
          </svg>
        </button>

        <div
          class="absolute top-full left-0 pt-1 group-focus-within/categorias:block hidden z-10"
        >
          <div
            class="bg-white border rounded-md shadow-lg w-48 flex flex-col max-h-80 overflow-y-auto"
          >
            <a
              class="px-3 py-2 text-sm hover:bg-neutral-100 flex items-center gap-2"
              th:href="@{/eventos/buscar(categoria='',localId=${param.localId},size=${param.size},dataInicio=${param.dataInicio},query=${param.query})}"
            >
              Todas as categorias
            </a>

            <div th:each="cat : ${categorias}">
              <a
                class="px-3 py-2 text-sm hover:bg-neutral-100 flex items-center gap-2"
                th:href="@{/eventos/buscar(categoria=${cat},localId=${param.localId},size=${param.size},dataInicio=${param.dataInicio},query=${param.query})}"
                th:text="${cat.displayName}"
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="relative group/locais">
        <button
          class="h-9 px-3 text-sm rounded-md border bg-white focus:outline-none focus:ring-2 focus:ring-blue-600 flex items-center gap-2 min-w-32 justify-between hover:bg-gray-50"
        >
          <span
            th:text="${localSelecionado != null ? localSelecionado : 'Locais'}"
          >
            Locais
          </span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="size-4 transition-transform text-gray-400 group-focus-within/locais:rotate-180"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m19.5 8.25-7.5 7.5-7.5-7.5"
            />
          </svg>
        </button>

        <div
          class="absolute top-full left-0 pt-1 group-focus-within/locais:block hidden z-10"
        >
          <div
            class="bg-white border rounded-md shadow-lg w-48 flex flex-col max-h-80 overflow-y-auto"
          >
            <a
              class="px-3 py-2 text-sm hover:bg-neutral-100 flex items-center gap-2"
              th:href="@{/eventos/buscar(categoria=${param.categoria},localId='',size=${param.size},dataInicio=${param.dataInicio},query=${param.query})}"
            >
              Todas os locais
            </a>

            <div th:each="local : ${locais}">
              <a
                class="px-3 py-2 text-sm hover:bg-neutral-100 flex items-center gap-2"
                th:href="@{/eventos/buscar(categoria=${param.categoria},localId=${local.id},size=${param.size},dataInicio=${param.dataInicio},query=${param.query})}"
                th:text="${local.nome}"
              ></a>
            </div>
          </div>
        </div>
      </div>

      <div class="relative group/data">
        <button
          class="h-9 px-3 text-sm rounded-md border bg-white focus:outline-none focus:ring-2 focus:ring-blue-600 flex items-center gap-2 min-w-32 justify-between hover:bg-gray-50"
        >
          Data
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            class="size-4 transition-transform text-gray-400 group-focus-within/data:rotate-180"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m19.5 8.25-7.5 7.5-7.5-7.5"
            />
          </svg>
        </button>

        <div
          class="absolute top-full left-0 pt-1 group-focus-within/data:block hidden z-10"
        >
          <div
            class="bg-white border rounded-md shadow-lg w-48 flex flex-col max-h-80 overflow-y-auto"
          >
            <form class="px-3 py-2">
              <label
                for="date-input"
                class="block text-xs font-medium text-gray-700 mb-1"
              >
                Selecione uma data:
              </label>

              <input
                type="date"
                id="date-input"
                name="dataInicio"
                class="w-full h-8 px-2 text-sm border rounded focus:outline-none focus:ring-2 focus:ring-blue-600"
                th:value="${param.dataInicio}"
                onchange="this.form.submit()"
              />
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-center gap-1.5" sec:authorize="!isAuthenticated()">
      <a
        th:href="@{/usuarios/cadastrar}"
        class="h-9 border rounded-md px-4 py-1.5 text-sm font-medium transition-colors hover:bg-neutral-100 flex items-center justify-center"
      >
        Cadastrar
      </a>

      <a
        th:href="@{/entrar}"
        class="h-9 bg-blue-500 px-4 py-1.5 rounded-md text-neutral-100 text-sm font-medium transition-colors hover:bg-blue-600 flex items-center justify-center"
      >
        Entrar
      </a>
    </div>

    <div class="flex gap-4" sec:authorize="isAuthenticated()">
      <div th:if="${#authentication.principal.tipo == 'ORGANIZACAO'}">
        <a
          th:href="@{/eventos/cadastrar}"
          class="h-8 bg-blue-500 px-2 rounded-md text-neutral-100 text-sm font-medium transition-colors hover:bg-blue-600 flex items-center justify-center gap-1.5"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-plus-icon lucide-plus size-4"
          >
            <path d="M5 12h14" />
            <path d="M12 5v14" />
          </svg>
          Novo Evento
        </a>
      </div>

      <div class="flex items-center gap-1.5 relative group/user-menu">
        <div class="flex items-center gap-2">
          <img
            th:if="${#authentication.principal.avatar != null}"
            th:src="${#authentication.principal.avatar.url}"
            th:alt="${#authentication.principal.nome}"
            class="w-8 h-8 rounded-full object-cover border"
          />

          <div
            th:if="${#authentication.principal.avatar == null}"
            class="w-8 h-8 rounded-full bg-blue-500 text-white flex items-center justify-center text-sm font-medium"
            th:text="${#strings.substring(#authentication.principal.nome, 0, 1).toUpperCase()}"
          ></div>
        </div>

        <div
          class="absolute top-full right-0 pt-1 group-hover/user-menu:block hidden z-10"
        >
          <div class="bg-white border rounded-md shadow-lg w-48 flex flex-col">
            <div class="px-3 py-2 text-sm border-b">
              <div
                class="truncate"
                th:text="${#authentication.principal.nome}"
              ></div>
              <div
                class="text-xs text-neutral-500 truncate"
                th:text="${#authentication.principal.email}"
              ></div>
            </div>

            <div class="flex flex-col py-1">
              <a
                th:href="${#authentication.principal.tipo == 'USUARIO' ? '/usuarios/perfil/editar' : '/organizacoes/perfil/editar'}"
                class="px-3 py-2 text-sm hover:bg-neutral-100 flex items-center gap-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-user-icon lucide-user size-4"
                >
                  <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                  <circle cx="12" cy="7" r="4" />
                </svg>
                Meu Perfil
              </a>

              <a
                sec:authorize="hasRole('ADMIN')"
                th:href="@{/admin/banners}"
                class="px-3 py-2 text-sm hover:bg-neutral-100 flex items-center gap-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-image-icon lucide-image size-4"
                >
                  <rect width="18" height="18" x="3" y="3" rx="2" ry="2" />
                  <circle cx="9" cy="9" r="2" />
                  <path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21" />
                </svg>
                Banners
              </a>

              <a
                th:if="${#authentication.principal.tipo == 'ORGANIZACAO'}"
                th:href="@{/eventos}"
                class="px-3 py-2 text-sm hover:bg-neutral-100 flex items-center gap-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-party-popper-icon lucide-party-popper size-4"
                >
                  <path d="M5.8 11.3 2 22l10.7-3.79" />
                  <path d="M4 3h.01" />
                  <path d="M22 8h.01" />
                  <path d="M15 2h.01" />
                  <path d="M22 20h.01" />
                  <path
                    d="m22 2-2.24.75a2.9 2.9 0 0 0-1.96 3.12c.1.86-.57 1.63-1.45 1.63h-.38c-.86 0-1.6.6-1.76 1.44L14 10"
                  />
                  <path
                    d="m22 13-.82-.33c-.86-.34-1.82.2-1.98 1.11c-.11.7-.72 1.22-1.43 1.22H17"
                  />
                  <path
                    d="m11 2 .33.82c.34.86-.2 1.82-1.11 1.98C9.52 4.9 9 5.52 9 6.23V7"
                  />
                  <path
                    d="M11 13c1.93 1.93 2.83 4.17 2 5-.83.83-3.07-.07-5-2-1.93-1.93-2.83-4.17-2-5 .83-.83 3.07.07 5 2Z"
                  />
                </svg>
                Meus Eventos
              </a>

              <a
                th:if="${#authentication.principal.tipo == 'ORGANIZACAO'}"
                th:href="@{/locais}"
                class="px-3 py-2 text-sm hover:bg-neutral-100 flex items-center gap-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-map-pin-icon lucide-map-pin size-4"
                >
                  <path
                    d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
                  />
                  <circle cx="12" cy="10" r="3" />
                </svg>
                Meus Locais
              </a>

              <form th:action="@{/logout}" method="post">
                <button
                  type="submit"
                  class="w-full text-left px-3 py-2 text-sm hover:bg-red-100 text-red-700 flex items-center gap-2 cursor-pointer"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-log-out-icon lucide-log-out size-4"
                  >
                    <path d="m16 17 5-5-5-5" />
                    <path d="M21 12H9" />
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
                  </svg>
                  Sair
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
