<!DOCTYPE html>
<html lang="pt-BR">
  <th:block
    th:replace="fragments/head :: head('Página inicial | Partiu!')"
  ></th:block>

  <body>
    <th:block th:replace="fragments/header :: header"></th:block>

    <main>
      <section
        th:if="${banners != null and !banners.isEmpty()}"
        data-slider
        data-infinite
        data-interval="5000"
      >
        <div data-slides>
          <img
            th:each="banner : ${banners}"
            th:src="${banner.url}"
            th:alt="${banner.titulo}"
            class="w-full h-120 aspect-video object-cover"
          />
        </div>

        <div class="buttons container" th:if="${#lists.size(banners) > 1}">
          <button data-prev-slide aria-label="Anterior">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
          </button>
          <button data-next-slide aria-label="Próximo">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
          </button>
        </div>
      </section>

      <section
        th:each="categoria : ${eventosPorCategoria}"
        class="space-y-6 my-12 container"
      >
        <div class="flex justify-between items-center gap-4">
          <h2
            th:text="${categoria.key.displayName}"
            class="text-2xl font-semibold"
          ></h2>

          <a
            th:if="${#lists.size(categoria.value) > 4}"
            th:href="@{'/eventos/categoria/' + ${categoria.key.name()}}"
            class="text-sm text-neutral-500"
          >
            Ver todos
          </a>
        </div>

        <div class="grid grid-cols-[repeat(auto-fill,minmax(20rem,1fr))] gap-4">
          <th:block th:each="evento : ${categoria.value}">
            <th:block
              th:replace="fragments/card :: card(evento=${evento}, interessadosCount=${interessadosCountMap[evento.id]})"
            ></th:block>
          </th:block>
        </div>
      </section>
    </main>

    <th:block th:replace="fragments/footer :: footer"></th:block>
  </body>
</html>
