<!DOCTYPE html>
<html lang="pt-BR">
  <th:block
    th:replace="fragments/head :: head('Buscar eventos | Partiu!')"
  ></th:block>

  <body class="has-[:popover-open]:overflow-hidden">
    <th:block th:replace="fragments/header :: header"></th:block>

    <main class="container">
      <section class="my-12 grid grid-cols-9 gap-12">
        <div
          class="col-span-5 relative"
          data-slider
          data-infinite
          data-interval="5000"
          th:if="${evento.midias != null and !evento.midias.isEmpty()}"
        >
          <div class="rounded-lg" data-slides>
            <img
              th:each="midia : ${evento.midias}"
              th:src="${midia.url}"
              th:alt="${evento.nome}"
              class="w-full h-full aspect-square object-cover rounded-lg"
            />
          </div>

          <div class="buttons container" th:if="${evento.midias.size() > 1}">
            <button data-prev-slide aria-label="Anterior">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="15 18 9 12 15 6"></polyline>
              </svg>
            </button>
            <button data-next-slide aria-label="Próximo">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <polyline points="9 18 15 12 9 6"></polyline>
              </svg>
            </button>
          </div>
        </div>

        <div class="col-span-4">
          <th:block
            th:replace="fragments/badge-categoria :: badgeCategoria(categoria=${evento.categoria})"
          ></th:block>

          <h1
            class="font-semibold text-2xl mb-4 mt-6"
            th:text="${evento.nome}"
          ></h1>

          <p class="text-neutral-500 mb-8" th:text="${evento.descricao}"></p>

          <div class="space-y-2.5">
            <div class="flex items-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 text-neutral-400"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6.75 2.994v2.25m10.5-2.25v2.25m-14.252 13.5V7.491a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v11.251m-18 0a2.25 2.25 0 0 0 2.25 2.25h13.5a2.25 2.25 0 0 0 2.25-2.25m-18 0v-7.5a2.25 2.25 0 0 1 2.25-2.25h13.5a2.25 2.25 0 0 1 2.25 2.25v7.5m-6.75-6h2.25m-9 2.25h4.5m.002-2.25h.005v.006H12v-.006Zm-.001 4.5h.006v.006h-.006v-.005Zm-2.25.001h.005v.006H9.75v-.006Zm-2.25 0h.005v.005h-.006v-.005Zm6.75-2.247h.005v.005h-.005v-.005Zm0 2.247h.006v.006h-.006v-.006Zm2.25-2.248h.006V15H16.5v-.005Z"
                />
              </svg>

              <time
                class="text-neutral-500"
                datetime="${evento.dataInicio}"
                th:text="${#temporals.format(evento.dataInicio, 'dd/MM/yyyy HH:mm') + ' a ' + #temporals.format(evento.dataFim, 'dd/MM/yyyy HH:mm')}"
              >
              </time>
            </div>

            <div class="flex items-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 text-neutral-400"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
                />
              </svg>

              <address
                class="text-neutral-500 not-italic"
                th:text="${evento.local.nome}"
              ></address>
            </div>

            <div class="flex items-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-dollar-sign-icon lucide-dollar-sign size-6 text-neutral-400"
              >
                <line x1="12" y1="1" x2="12" y2="23" />
                <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6" />
              </svg>

              <p
                class="text-neutral-500"
                th:if="${evento.preco != null}"
                th:text="'R$ ' + ${#numbers.formatDecimal(evento.preco, 1, 2)}"
              ></p>
              <p class="text-neutral-400" th:if="${evento.preco == null}">
                Gratuito
              </p>
            </div>

            <div class="flex items-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-person-standing-icon lucide-person-standing size-6 text-neutral-400"
              >
                <circle cx="12" cy="5" r="1" />
                <path d="m9 20 3-6 3 6" />
                <path d="m6 8 6 2 6-2" />
                <path d="M12 10v4" />
              </svg>

              <p
                class="text-neutral-500"
                th:text="${evento.idadeMinima != null ? 'Para maiores de ' + evento.idadeMinima + ' anos' : 'Livre para todas as idades'}"
              ></p>
            </div>

            <div class="flex items-center gap-2">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-flame-icon lucide-flame size-6 text-neutral-400"
              >
                <path
                  d="M12 3q1 4 4 6.5t3 5.5a1 1 0 0 1-14 0 5 5 0 0 1 1-3 1 1 0 0 0 5 0c0-2-1.5-3-1.5-5q0-2 2.5-4"
                />
              </svg>

              <span
                class="text-neutral-500"
                th:text="${interessadosCount} + ' interessado' + (${interessadosCount} == 1 ? '' : 's')"
              ></span>
            </div>
          </div>

          <div class="flex gap-1.5 mt-12">
            <div th:if="${isInteressado == null or !isInteressado}">
              <form th:action="@{/interessados/salvar}" method="post">
                <input type="hidden" name="eventoId" th:value="${evento.id}" />
                <button
                  type="submit"
                  class="w-48 px-6 py-2.5 bg-blue-500 text-white rounded-md flex justify-center items-center gap-1.5 font-medium hover:bg-blue-600 transition-colors"
                >
                  Eu vou
                </button>
              </form>
            </div>
            <div th:if="${isInteressado != null and isInteressado}">
              <form th:action="@{/interessados/excluir}" method="post">
                <input type="hidden" name="_method" value="DELETE" />
                <input type="hidden" name="eventoId" th:value="${evento.id}" />
                <button
                  type="submit"
                  class="w-48 px-6 py-2.5 bg-gray-500 text-white rounded-md flex justify-center items-center gap-1.5 font-medium hover:bg-gray-600 transition-colors"
                >
                  Desmarcar
                </button>
              </form>
            </div>

            <button
              class="w-48 border rounded-md px-6 py-2.5 flex items-center justify-center gap-2 font-medium hover:bg-neutral-100 transition-colors"
              popovertarget="share-popover"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-5 text-neutral-600 shrink-0"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M7.217 10.907a2.25 2.25 0 1 0 0 2.186m0-2.186c.18.324.283.696.283 1.093s-.103.77-.283 1.093m0-2.186 9.566-5.314m-9.566 7.5 9.566 5.314m0 0a2.25 2.25 0 1 0 3.935 2.186 2.25 2.25 0 0 0-3.935-2.186Zm0-12.814a2.25 2.25 0 1 0 3.933-2.185 2.25 2.25 0 0 0-3.933 2.185Z"
                />
              </svg>

              Compartilhar
            </button>

            <div
              popover
              id="share-popover"
              class="w-full max-w-120 fixed top-1/2 left-1/2 -translate-1/2 bg-white p-6 rounded-lg backdrop:bg-black backdrop:opacity-15 [:popover-open]:grid"
            >
              <div class="grid gap-6">
                <div>
                  <strong class="font-medium text-xl">
                    Compartilhar evento
                  </strong>

                  <p class="mt-1 text-neutral-500 text-balance">
                    Compartilhe este evento nas suas redes sociais ou copie o
                    link para enviar para seus amigos.
                  </p>
                </div>

                <div class="flex gap-3">
                  <a
                    th:href="'https://api.whatsapp.com/send?text=' + 'http://localhost:8080/eventos/' + ${evento.id}"
                    target="_blank"
                    class="size-8 text-white rounded-lg flex justify-center items-center"
                    aria-label="Compartilhar no WhatsApp"
                  >
                    <img
                      th:src="@{/images/whatsapp.png}"
                      alt="Compartilhar no WhatsApp"
                      class="size-8"
                    />
                  </a>

                  <a
                    th:href="'https://www.facebook.com/sharer/sharer.php?u=' + 'http://localhost:8080/eventos/' + ${evento.id}"
                    target="_blank"
                    class="size-8 text-white rounded-lg flex justify-center items-center"
                    aria-label="Compartilhar no Facebook"
                  >
                    <img
                      th:src="@{/images/facebook.png}"
                      alt="Compartilhar no Facebook"
                      class="size-8 rounded-full"
                    />
                  </a>

                  <a
                    th:href="'https://twitter.com/intent/tweet?url=' + 'http://localhost:8080/eventos/' + ${evento.id} + '&text=' + ${evento.nome}"
                    target="_blank"
                    class="size-8 text-white rounded-lg flex justify-center items-center"
                    aria-label="Compartilhar no Twitter"
                  >
                    <img
                      th:src="@{/images/twitter.png}"
                      alt="Compartilhar no Twitter"
                      class="size-8 rounded-full"
                    />
                  </a>

                  <a
                    th:href="'https://www.linkedin.com/sharing/share-offsite/?url=' + 'http://localhost:8080/eventos/' + ${evento.id}"
                    target="_blank"
                    class="size-8 text-white rounded-lg flex justify-center items-center"
                    aria-label="Compartilhar no LinkedIn"
                  >
                    <img
                      th:src="@{/images/linkedin.png}"
                      alt="Compartilhar no LinkedIn"
                      class="size-8 rounded-full"
                    />
                  </a>

                  <a
                    th:href="'mailto:?subject=' + ${evento.nome} + '&body=' + 'Confira este evento: http://localhost:8080/eventos/' + ${evento.id}"
                    target="_blank"
                    class="size-8 text-white rounded-lg flex justify-center items-center"
                    aria-label="Compartilhar por Email"
                  >
                    <img
                      th:src="@{/images/email.png}"
                      alt="Compartilhar por Email"
                      class="size-8 rounded-full"
                    />
                  </a>
                </div>

                <div
                  class="flex justify-between items-center gap-2.5 border px-3 py-1.5 rounded-lg"
                >
                  <div class="flex items-center gap-2.5 flex-1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-link-icon lucide-link size-4 text-neutral-400 shrink-0"
                    >
                      <path
                        d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
                      />
                      <path
                        d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
                      />
                    </svg>

                    <span
                      class="text-neutral-600 text-sm truncate max-w-64"
                      type="url"
                      readonly
                      id="event-link"
                      th:text="${'http://localhost:8080/eventos/' + evento.id}"
                    ></span>
                  </div>

                  <button
                    type="button"
                    id="copy-link-btn"
                    class="px-2 py-1.5 rounded-md border hover:bg-neutral-100 transition-colors flex justify-center items-center gap-1.5 -mr-1.5 shrink-0"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-copy-icon lucide-copy size-4 text-neutral-400"
                    >
                      <rect width="14" height="14" x="8" y="8" rx="2" ry="2" />
                      <path
                        d="M4 16c-1.1 0-2-.9-2-2V4c0-1.1.9-2 2-2h10c1.1 0 2 .9 2 2"
                      />
                    </svg>
                    <span class="text-sm text-neutral-500">Copiar link</span>
                  </button>
                </div>
              </div>

              <button popovertarget="share-popover">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-x-icon lucide-x size-4 text-neutral-600 absolute top-3 right-3"
                >
                  <path d="M18 6 6 18" />
                  <path d="m6 6 12 12" />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </section>

      <section class="my-12 space-y-6">
        <h2
          class="text-2xl font-semibold"
          th:text="${totalComentarios == 0 ? 'Nenhum comentário' : totalComentarios == 1 ? '1 comentário' : totalComentarios + ' comentários'}"
        ></h2>

        <ul
          class="space-y-6 divide-y"
          th:if="${comentarios != null and !comentarios.isEmpty()}"
        >
          <li
            th:each="comentario : ${comentarios}"
            class="flex items-start gap-3 not-last:pb-6"
          >
            <div class="flex items-start gap-2">
              <img
                th:if="${comentario.usuario.avatar != null}"
                th:src="${comentario.usuario.avatar.url}"
                th:alt="${comentario.usuario.nome}"
                class="w-8 h-8 rounded-full object-cover border"
              />
              <div
                th:if="${comentario.usuario.avatar == null}"
                class="w-8 h-8 rounded-full bg-blue-500 text-white flex items-center justify-center text-sm font-medium"
                th:text="${#strings.substring(comentario.usuario.nome, 0, 1).toUpperCase()}"
              ></div>
            </div>
            <div class="w-full">
              <div class="flex gap-3 w-full">
                <p
                  class="text-sm font-medium"
                  th:text="${comentario.usuario.nome}"
                ></p>
                <p
                  class="text-sm text-neutral-500"
                  th:text="${#temporals.format(comentario.criadoEm, 'dd/MM/yyyy')} + ' às ' + ${#temporals.format(comentario.criadoEm, 'HH:mm')}"
                ></p>

                <form
                  th:action="@{/comentarios/{id}/excluir(id=${comentario.id})}"
                  method="post"
                  class="ml-auto"
                  sec:authorize="isAuthenticated()"
                  th:if="${comentario.usuario.id == #authentication.principal.id}"
                >
                  <button
                    class="size-5 flex justify-center items-center cursor-pointer"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="lucide lucide-trash2-icon lucide-trash-2 size-4 text-neutral-400 hover:text-red-500 transition-colors"
                    >
                      <path d="M10 11v6" />
                      <path d="M14 11v6" />
                      <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                      <path d="M3 6h18" />
                      <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                    </svg>
                  </button>
                </form>
              </div>
              <p th:text="${comentario.conteudo}"></p>
            </div>
          </li>
        </ul>

        <form
          action=""
          method="get"
          class="flex justify-center"
          th:if="${comentarios.size() < totalComentarios}"
        >
          <input type="hidden" name="page" th:value="${currentPage + 1}" />
          <button class="text-sm text-neutral-500 flex items-center gap-2 py-4">
            Carregar mais comentários
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-chevron-down-icon lucide-chevron-down text-neutral-500 size-4"
            >
              <path d="m6 9 6 6 6-6" />
            </svg>
          </button>
        </form>

        <form
          th:action="@{/comentarios/salvar}"
          method="post"
          class="flex flex-col items-end gap-2.5 mt-12"
          th:if="${isUsuario}"
        >
          <input type="hidden" name="eventoId" th:value="${evento.id}" />
          <strong
            class="w-full block font-semibold text-xl"
            th:text="${totalComentarios == 0 ? 'Seja o primeiro a comentar' : 'Compartilhe sua opinião sobre o evento'}"
          >
          </strong>

          <textarea
            name="comentario"
            id="comentario"
            placeholder="Escreva seu comentário aqui..."
            class="border rounded-lg block w-full px-4 py-2.5 resize-none"
            rows="5"
          ></textarea>

          <button
            class="w-48 px-6 py-2.5 bg-blue-500 text-white rounded-md flex justify-center items-center gap-1.5 font-medium hover:bg-blue-600 transition-colors"
          >
            Comentar
          </button>
        </form>

        <div
          class="flex flex-col gap-0.5 mt-12 border border-dashed py-4 px-6 rounded-lg"
          sec:authorize="!isAuthenticated()"
        >
          <strong class="w-full block font-semibold text-xl">
            Quer comentar sobre este evento?
          </strong>

          <p class="text-neutral-500">
            <a
              th:href="@{/entrar}"
              class="text-blue-500 hover:underline font-medium"
            >
              Faça login
            </a>
            para compartilhar sua opinião!
          </p>
        </div>
      </section>

      <section
        th:if="${eventosRecomendados != null and !eventosRecomendados.isEmpty()}"
        class="space-y-6 my-12"
      >
        <h2
          th:text="'Você também pode gostar desses eventos de ' + ${evento.categoria.displayName}"
          class="text-2xl font-semibold"
        ></h2>

        <div class="grid grid-cols-[repeat(auto-fill,minmax(18rem,1fr))] gap-4">
          <th:block th:each="evento : ${eventosRecomendados}">
            <th:block
              th:replace="fragments/card :: card(evento=${evento}, interessadosCount=${interessadosCountMap[evento.id]})"
            ></th:block>
          </th:block>
        </div>
      </section>
    </main>

    <th:block th:replace="fragments/footer :: footer"></th:block>
  </body>
</html>
